<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Username</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Register Username</h2>
        {{#if error}}
            <p class="error-message">{{error}}</p>
        {{/if}}
        <form class="register-form" action="/registerUsername" method="POST">
            <input type="text" placeholder="username" name="username" required>
            <button type="submit" class="register-button">Register</button>
        </form>
    </div>
</body>
</html>
